body {
  font-family: Arial, sans-serif;
  background: #0c111f;
  color: white;
  text-align: center;
  padding-top: 100px;
}

button {
  padding: 16px 20px;
  color: rgb(253, 253, 253);
  background: #000000;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background: #1f2937;        /* color al pasar el rat칩n (oscuro, visible) */
  transform: translateY(-3px);/* peque침o levantamiento al hover */
}

model-viewer {
  max-width: 100%;
  height: 450px;
  border-radius: 8px;
  background: #0c111f; /* color de fondo mientras carga */
}
 
.abre {
  padding: 16px 20px;
  color: #fff;
  background: #000;
  font-size: 15px;
  position: fixed;   /* clave */
  bottom: 20px;      /* o top */
  right: 20px;       /* o left */
  cursor: pointer;
  border-radius: 12px;
}

#chat {
  display: flex;
  flex-direction: column;
  position: fixed;  /* clave */
  bottom: 80px;
  right: 20px;
  width: 300px;
  height: 400px;
  background: #111;
  color: white;
  padding: 10px;
  border-radius: 10px;

}
#header {
  padding: 3%;
  margin: 1%;
  display: flex;
  font-weight: bold;
  margin-bottom: 10px;
}

#respuesta {
  margin-top: 10px;
  font-weight: bold;
}

#hola {
margin-top: auto;
display: flex;
gap: 5px;
}

#hola input {
  border-radius: 12px;
  flex: 1; /* ocupa m치s espacio */
}

#hola button {
  border-style: dashed;
  border-radius: 12px;
  flex: none; /* tama침o normal */
}

#mensajes {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
}

#mensajes .mensajeUsuario {
  text-align: right;
  color: #4ade80;
}


#mensajes .mensajeBot {
  text-align: left;    /* mensaje a la izquierda */
  color: #60a5fa;      /* azul */
}

 #scrolltop {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #000000aa;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  }