<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Mi primer bot</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pagina.css') }}">
  <!-- Librería para model-viewer -->
  <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.3.0/model-viewer.min.js"></script>
</head>

<body>
  <h1>Hola, soy Rudi</h1>
  <p>Este es mi primer proyecto real</p>
<div id="container3D"></div>

<model-viewer 
  src="{{ url_for('static', filename='models/hitem3d.glb') }}"
  alt="Mi bot 3D"
  style="width: 600px; height: 450px; margin: 20px auto; display: block;"
  camera-controls
  auto-rotate
  ar
  exposure="1">
</model-viewer>


<div id="chat">
<div id="header">RuBOT</div>
<div id="mensajes"></div>
<div id="hola">
    <input id="texto" placeholder="Escribe algo">
    <button id="btn">Enviar</button>
</div>
</div>
<button class="abre" id="chatBox">abre</button>

<script src="{{ url_for('static', filename='js/pagina.js') }}"></script>



</body>
</html>
